* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
    height: 100vh; 
    position: relative;
}

.sidebar-section {
    width: 16%;
    color: white;
    height: 100vh; 
    padding-top: 30px;
    background-color: aqua;
}

.logo-section {
    margin: 0 10px 40px 10px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #ffe400;
    cursor: pointer;
}

.appointments-section,
.add-gallery-section {
    margin-bottom: 20px;
    padding: 10px;
}

.appointments,
.add-gallery {
    width: 100%;
    padding: 8px 10px;
    font-size: 18px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.main-content-section {
    width: 100%;
    color: white;
    padding-top: 30px;
    background-color: pink;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 16%;
}

.main-content-section hr{
    margin-top: 15px;
    margin-bottom: 30px;
}

.admin-title {
    font-size: 30px;
    padding: 20px;
}
