*{
    margin: 0;
    background-color: black;
    font-family: sans-serif;
 }

 body{
    background-color: black;
 }

 .home-layout-container{
    width: 90%;
    margin: auto;
 }

 .header-section{
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    position: fixed;
    top: -5px;
    left: 70px;
    right: 70px;
    z-index: 100;
    border-bottom: 2px solid white;
    background-color: black;
 }

 .header-left-section{
    flex: 1;
 }

 .logo{
    font-size: 40px;
    font-weight: bold;
    color: #ffe400;
    cursor: pointer;
 }

 .header-middle-section{
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
 }

 .home-link,
 .gallery-link{
    text-decoration: none;
    font-size: 20px;
    color: white;
 }

 .home-link:hover,
 .gallery-link:hover{
    color: #ffe400;
 }

 .header-right-section{
    flex: 1;
    display: flex;
    justify-content: center;
 }

 .login-button{
    padding: 6px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 5px;
 }


.logged-in .login-button {
   display: none;
}

.user-greeting {
   padding: 6px 15px;
   font-size: 20px;
   cursor: pointer;
   background-color: #ffe400;
   border: none;
   border-radius: 50px;
   display: inline-block;
   position: relative;
}

.appointment-logout {
   display: flex;
   flex-direction: row;
   position: absolute;
   top: 43px;
   background-color: rgb(253, 253, 253);
   padding-top: 5px;
   border-radius: 4px;
}

.my-appointments-button{
   display: block;
   border: none;
   background: none;
   margin-bottom: 5px;
   cursor: pointer;
   padding: 5px 20px;
   font-size: 15px;
}

.logout-button{
   border: none;
   background: none;
   margin: 5px 0;
   cursor: pointer;
   padding: 5px 20px;
   font-size: 15px;
   color: red;
   width: 100%;
}

.my-appointments-button:hover{
   background-color: rgb(242, 236, 236);
}





