
.home-layout-container{
    background-color: black;
    width: 90%;
    margin: auto;
 }

 .middle-section{
    margin-top: 50px;
    background-color: red;
    background-color: black;
 }

 .video-section{
    position: relative;
 }

 .video-showcase{
    width: 100%;
    object-fit: cover;
    height: 600px;
    filter: brightness(0.4);
 }

.slogan-heading{
    color: white;
    position: absolute;
    top: 180px;
    left: 320px;
    font-weight: bold;
    font-size: 35px;
    background: none;
}

.slogan-description{
    color: white;
    position: absolute;
    top: 240px;
    left: 265px;
    font-size: 20px;
    background: none;
}

.appointment-button{
    position: absolute;
    top: 300px;
    left: 555px;    
    background-color: #ffe400;
    border: none;
    padding: 14px 25px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

.our-gallery-section{
    margin-top: 20px;
    margin-bottom: 50px;
}

.our-gallery-heading{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.our-gallery{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 50px;
    height: 410px;
}

.gallery-grid{
    /* border: 1px solid white; */
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.gallery-image{
    height: 310px;
    width: 100%;
    border-radius: 10px;
}

 .gallery-title{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffe400;
}

.gallery-description{
    color: gray;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.visit-gallery-button{
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    color: black;
    border: none;
    background-color: #ffe400;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.our-barbers-section{
    margin-top: 20px;
}

.our-barbers-heading{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.our-barbers{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 20px;
}

.barbers-grid{
    border-radius: 10px;
    cursor: pointer;
}

.barbers-image{
    height: 310px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.barbers-link{
    position: absolute;
    top: 1360px;
    left: 200px;
}

.fa-instagram{
    width: 150px;
    height: 150px;
    color: red;
    /* opacity: 0;   */

}

.barbers-image:hover,
.barbers-instagram:hover{
    filter: brightness(0.4);
}





 
