.user-appointment-section {
    width: 88%;
    max-width: 800px; 
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointment-content {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: #f0f0f0;
}

.appointment-image-container {
    flex: 0 0 150px;
}

.appointment-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.appointment-details {
    flex: 1;
    background-color: #f0f0f0;
}

.appointment-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    background-color: #f0f0f0;
}

.appointment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
}

.form-group {
    margin-bottom: 15px;
    background-color: #f0f0f0;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    background-color: #f0f0f0;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

#appointment_date {
    appearance: none; 
    background-color: white; 
    color: #333;
    font-family: sans-serif;
}

.form-textarea {
    resize: none;
    height: 50px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ffe400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 5px;
}

.available-slots {
    /* display: flex; */
    justify-content: center;
    background: none;
    margin-bottom: 10px;
    display: none;
}


.time-book-status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    background: none;
}


.time-slot {
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.time-slot span {
    width: 90px;
    background-color: #f0f0f0;
    color: #333;
    display: block;
    margin-bottom: 10px;
}


.time-slot button {
    background-color: #13da66;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.booked-button {
    background-color: gray !important;
    /* color: rgb(189, 182, 182); */
    pointer-events: none; 
}

.error-message{
    background: none;
    color: red;
}


